<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temah.ahfm.mapper.AlarmMapper">
  <resultMap id="BaseResultMap" type="com.temah.ahfm.model.Alarm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eventTime" jdbcType="VARCHAR" property="eventTime" />
    <result column="managedObject" jdbcType="VARCHAR" property="managedObject" />
    <result column="alarmType" jdbcType="VARCHAR" property="alarmType" />
    <result column="probableCause" jdbcType="VARCHAR" property="probableCause" />
    <result column="perceivedSeverity" jdbcType="VARCHAR" property="perceivedSeverity" />
    <result column="specificProblem" jdbcType="VARCHAR" property="specificProblem" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.temah.ahfm.model.Alarm">
    <result column="additionalText" jdbcType="LONGVARCHAR" property="additionalText" />
  </resultMap>
  <sql id="Base_Column_List">
    id, eventTime, managedObject, alarmType, probableCause, perceivedSeverity, specificProblem
  </sql>
  <sql id="Blob_Column_List">
    additionalText
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from alarm
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from alarm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.temah.ahfm.model.Alarm">
    insert into alarm (id, eventTime, managedObject, 
      alarmType, probableCause, perceivedSeverity, 
      specificProblem, additionalText)
    values (#{id,jdbcType=INTEGER}, #{eventTime,jdbcType=VARCHAR}, #{managedObject,jdbcType=VARCHAR}, 
      #{alarmType,jdbcType=VARCHAR}, #{probableCause,jdbcType=VARCHAR}, #{perceivedSeverity,jdbcType=VARCHAR}, 
      #{specificProblem,jdbcType=VARCHAR}, #{additionalText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.temah.ahfm.model.Alarm">
    insert into alarm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eventTime != null">
        eventTime,
      </if>
      <if test="managedObject != null">
        managedObject,
      </if>
      <if test="alarmType != null">
        alarmType,
      </if>
      <if test="probableCause != null">
        probableCause,
      </if>
      <if test="perceivedSeverity != null">
        perceivedSeverity,
      </if>
      <if test="specificProblem != null">
        specificProblem,
      </if>
      <if test="additionalText != null">
        additionalText,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eventTime != null">
        #{eventTime,jdbcType=VARCHAR},
      </if>
      <if test="managedObject != null">
        #{managedObject,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null">
        #{alarmType,jdbcType=VARCHAR},
      </if>
      <if test="probableCause != null">
        #{probableCause,jdbcType=VARCHAR},
      </if>
      <if test="perceivedSeverity != null">
        #{perceivedSeverity,jdbcType=VARCHAR},
      </if>
      <if test="specificProblem != null">
        #{specificProblem,jdbcType=VARCHAR},
      </if>
      <if test="additionalText != null">
        #{additionalText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.temah.ahfm.model.Alarm">
    update alarm
    <set>
      <if test="eventTime != null">
        eventTime = #{eventTime,jdbcType=VARCHAR},
      </if>
      <if test="managedObject != null">
        managedObject = #{managedObject,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null">
        alarmType = #{alarmType,jdbcType=VARCHAR},
      </if>
      <if test="probableCause != null">
        probableCause = #{probableCause,jdbcType=VARCHAR},
      </if>
      <if test="perceivedSeverity != null">
        perceivedSeverity = #{perceivedSeverity,jdbcType=VARCHAR},
      </if>
      <if test="specificProblem != null">
        specificProblem = #{specificProblem,jdbcType=VARCHAR},
      </if>
      <if test="additionalText != null">
        additionalText = #{additionalText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.temah.ahfm.model.Alarm">
    update alarm
    set eventTime = #{eventTime,jdbcType=VARCHAR},
      managedObject = #{managedObject,jdbcType=VARCHAR},
      alarmType = #{alarmType,jdbcType=VARCHAR},
      probableCause = #{probableCause,jdbcType=VARCHAR},
      perceivedSeverity = #{perceivedSeverity,jdbcType=VARCHAR},
      specificProblem = #{specificProblem,jdbcType=VARCHAR},
      additionalText = #{additionalText,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.temah.ahfm.model.Alarm">
    update alarm
    set eventTime = #{eventTime,jdbcType=VARCHAR},
      managedObject = #{managedObject,jdbcType=VARCHAR},
      alarmType = #{alarmType,jdbcType=VARCHAR},
      probableCause = #{probableCause,jdbcType=VARCHAR},
      perceivedSeverity = #{perceivedSeverity,jdbcType=VARCHAR},
      specificProblem = #{specificProblem,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 批量插入记录 -->
  <insert id="batchInsert" parameterType="java.util.List">
    insert into alarm
        (
         id,
         eventTime,
         managedObject,
         alarmType,
         probableCause,
         perceivedSeverity,
         specificProblem,
         additionalText
         )
    values
    <foreach collection="list" item="st" index="index" separator=",">
        (
         #{st.id,jdbcType=INTEGER},
         #{st.eventTime,jdbcType=VARCHAR},
         #{st.managedObject,jdbcType=VARCHAR},
         #{st.alarmType,jdbcType=VARCHAR},
         #{st.probableCause,jdbcType=VARCHAR},
         #{st.perceivedSeverity,jdbcType=VARCHAR},
         #{st.specificProblem,jdbcType=VARCHAR},
         #{st.additionalText,jdbcType=LONGVARCHAR}
         )
    </foreach>
  </insert>

  <!-- 批量删除，真实项目中这里需要修改为 update 如：
  update alarm set status = '-1'
   -->
  <delete id="deleteByPrimaryKeys" parameterType="java.lang.Integer">
    delete from alarm
    where id IN
    <foreach collection="ids" item="id" open="("
             separator="," close=")">
      #{id}
    </foreach>
  </delete>

  <!-- 为分页查询提供模糊筛选参数处理 -->
  <sql id="searchParams">
    <trim prefix="where" prefixOverrides="AND|OR">
      <if test="keyword != null and keyword != ''">
        and (t.managedObject like concat('%',#{keyword},'%') or t.probableCause like concat('%',#{keyword},'%'))
      </if>
      <!-- and t.tatus != '-1' -->
      and t.id > 0
    </trim>
  </sql>
  <!-- 为分页查询提供记录总数量计算及模糊筛选 -->
  <select id="countByCriteria" parameterType="Map" resultType="java.lang.Long">
    SELECT count(t.id) from alarm t
    <if test="_parameter != null">
      <include refid="searchParams" />
    </if>
  </select>
  <!-- 分页查询列表包括模糊筛选 -->
  <select id="selectByCriteriaWithPage" parameterType="Map" resultType="Map">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from alarm t
    <if test="_parameter != null">
      <include refid="searchParams" />
    </if>
    <include refid="base.pagination">
      <property name="defaultSortField" value="id"/>
      <property name="defaultSortOrder" value="desc"/>
    </include>
  </select>

</mapper>