<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- 数据库访问的驱动包 -->
    <classPathEntry location="./mysql-connector-j-8.0.33.jar" />

    <context id="simple" targetRuntime="MyBatis3">
        <property name="javaFileEncoding" value="UTF-8"/>

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />

        <commentGenerator>
            <!-- 是否去除自动生成的注释 -->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <!-- 数据库连接URL、用户名、密码 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="jdbc:mysql://192.168.2.105:3306/test"
                        userId="root" password="123456">
            <property name="nullCatalogMeansCurrent" value="true" />
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!-- javabean生成的地方 -->
        <javaModelGenerator targetPackage="com.temah.ahfm.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <!-- 从数据库返回的值被清理前后的空格 -->
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- mapper xml生成的地方 -->
        <sqlMapGenerator targetPackage="mapper.alarm" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- mapper class生成的地方 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.temah.ahfm.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!-- 表名和生成的实体名 -->
        <table tableName="alarm" domainObjectName="Alarm"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" enableUpdateByExample="false">
            <!--
            true：MyBatis Generator会使用数据库中实际的字段名字作为生成的实体类的属性名。
            false：这是默认值。如果设置为false,则MyBatis Generator会将数据库中实际的字段名字转换为Camel Case风格作为生成的实体类的属性名。
            设置为false就可以实现将数据库表字段名中包含的下划线转为驼峰格式。
            -->
            <property name="useActualColumnNames" value="true" />
        </table>
    </context>
</generatorConfiguration>